html{
    font-family: 'Google Sans', sans-serif;
}

form { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > div {
  margin-bottom: 10px;
}

#SearchTextBox{
    padding: 10px;
    width:500px;
    height:20px;
    border-radius: 20px;
    border: 0px solid #FFF
}

#SearchTextBoxDiv{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 1px solid #ccc;
    width:600px;
    height:40px;
    padding-left:10px;
    align-items: center;
}

#SearchTextBoxDiv:hover{
    background-color:#CCC;
    #SearchTextBox{
        background-color: #CCC;
    }
}

#SearchTextBox:hover{
    background-color:#CCC;
}

input:focus {
    outline: none;
}

button {
    width:150px;
    height:30px;
    border-radius: 5px;
    border: 0px solid #FFF;
}

button:hover{
    border: 1px solid #CCC;
}

#navigationpane {
    background-color: white; /* Example background color */
    color: white;          /* Example text color */
    padding: 10px 0;       /* Add some padding */
    text-align: center;    /* Center the items */
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;   /* Remove default bullet points */
    padding: 0;         /* Reset padding */
    margin: 0;          /* Reset margin */
  }
  
  nav li {
    margin: 0 10px;      /* Add spacing between items */
    
  }

  a{
    text-decoration: none;
  }

  a:link { 
    color: black; /* Default color of unvisited links */
  }
  
  a:visited { 
    color: black; /* Color of visited links */
  }
  
  a:hover { 
    color: black; /* Color on mouse hover */
    text-decoration: underline;
  }
  
  a:active {
    color: black; /* Color when the link is being clicked */
  }
